/* RF.css   Radio Waves  C12.14.2025  R2.13.2026   */

		nav ul{
			list-style-type: none;
			text-align: center;
		}
		nav li{
			display:inline;
			margin-top: 25px;
			margin-bottom: 25px;
		}
	
		nav a{
			color: #00ef8f;
			font-size: 1.70em;	
			font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
			text-decoration: none;			
		}

		.currentpage{  /* under the nav names */
			border-bottom:#00ef8f solid 2px;
		}
	
	.RF-h1{
			text-align: center;
			width: 60%;
			margin: auto;
			color: #BF40BF;
			font-size: 1.20em;	
			font-family: Sans-serif;
			}

	.RF-h2{  /* no multi colors  */
	
			font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;	
			font-size: 1em;
			width: 100%;
			color: #4da6ff;
			text-align: center;
			margin: auto;
			}

	.BFSK-h4{  /* no multi colors  */
	
		font-family: monospace, Geneva, Verdana, sans-serif;	
			font-size: 1.3em;
			width: 100%;
			color: yellow;
			text-align: center;
			margin: auto;
			}

	.indent-BFSK{
		display: block;
		color: #99ffeb;	
		font-family: monospace, Geneva, Verdana, sans-serif;	
		font-size: 1.4em;
		text-align: justify;
		width: 70%;		
		margin-left: 160px;
		margin-right: auto;
		}

#HF  {
		display: block;		
		margin-left: auto;
		margin-right: auto;
		}
		
	.indent-binary{
		display: block;	
		color: yellow;	
		font-family: monospace, Geneva, Verdana, sans-serif;	
		font-size: 1.1em;		
		margin-left: 381px;
		margin-right: auto;
		}	
		
	.RF-description{
		font-family: monospace;
		font-size: 1.65em;
		text-align: justify;		
		color: #99ffeb;
		width: 70%;
	/*		text-align: center;  not used */
		margin: auto;			
		}

	.indent-text{
		display: block;	
		margin-left: 100px;
		margin-right: auto;
		}
		
	.wireless{
		font-family: monospace;
		font-size: 1.65em;
		text-align: justify;		
		color: #00ef8f;
		width: 70%;
		margin: auto;			
		}

	.rf-math {			
		/*   */
		font-style: none;
		font-family: monospace;	
		width: 87%;
		text-align:center;
		margin: auto;
		color: #99ffeb;
		/*font-size: 1.15em;*/
		}

	.noise-floor{
		font-family: monospace;
		font-size: 1.65em;
		text-align: justify;		
		color: #ff9999;
		width: 70%;
		margin: auto;			
		}  

	.center-no-b {
		margin: auto;
		width: 93%;		/* was 90% */ 
		text-align:center;		
		} 

	.center {
		margin: auto;
		width: 60%;
		border: 1px solid red;  /*  was	border: 4px solid #73AD21;  */
		padding: 8px;
		text-align:center;		
		}

	.dB-math{
		font-family: monospace;
		font-size: 1.65em;
		text-align: justify;		
		color: #ffae69;
		width: 70%;
		margin: auto;			
		}

table, th, td {
	border: 1px solid #990033;  /*  ef8f is green/blue   */
	border-collapse: collapse;
	font-size: 1em;	
	}

	.notes{
		font-family: monospace;
		font-size: 0.90em;
		text-align: center;		
		color: #ffbb99;
		width: 85%;
		margin: auto;			
		}


.wrapper {
  flex: 1 0 auto; /* This makes the wrapper grow to fill available space, pushing the footer down */
}
	
.no-wrap{
	white-space: nowrap;
	}

	.main{
		font-family: monospace;
		font-size: 1.65em;
		text-align: justify;		
		color: #ff9999;
		width: 80%;
		margin: auto;			
		}
		
.foot {
	flex-shrink: 0; /* Prevents the footer from shrinking */
	/* Add styling for your footer (e.g., background-color, padding) */
	background-color: Black;
	padding: 10px;
	text-align: center;  
	font-style: italic;
	font-family: Sans-serif;
	color: #ffd125;
	font-size: 1.0em;
	}

